body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 10px;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    /* width: 100%; */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 70%;
    height: 70px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

div#login {
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

div#signup {
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.error{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.sucess{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.loggedin{
    background: #f2f2f2;
    border: 2px double grey;
    border-radius: 5px;
    width: 200px;

    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
    text-align: left;
    padding: 10px;
}
.loggedin input{
    width: 100px;
    height: auto;
    margin: 10 0;
    padding: 5px;
}
.loggedin p{
    width: 150px;
    margin: 0;
}
.comment{
    margin-left: 30px;
}

div.container{
    width: 900px;
    height: auto;
    margin: 0 auto;
    /* display: inline-block; */
}
.title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.text{
    font-size: 12px;
}

.btn-post {
    width: 150px;
    display: block;
}