<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall - Login - Registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
</head>
<body>
    {% if session['loggedin'].id != -1 %}
    <div class="loggedin">
        <p>Hello, <strong>{{session['loggedin'].name}}</strong></p>
        <form action="/logout" method="POST">
            <input type="submit" value="Log out">
        </form>
    </div>
    {% else %}
    <div id="login">
        <h3>Login</h3>
        {% with messages = get_flashed_messages(category_filter=["error_login"]) %}
        {% if messages %}
            {% for message in messages %}
            <p class="error">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% with sucesses = get_flashed_messages(category_filter=["sucess_login"]) %}
        {% if sucesses %}
            {% for msg in sucesses %}
            <p class="sucess">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="email@email.com" autofocus>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password">

            <input type="submit" value="Login">
        </form>
    </div>

    <div id="signup">
        <h3>Registration Form</h3>
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
            <p class="error">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% with sucesses = get_flashed_messages(category_filter=["sucess"]) %}
        {% if sucesses %}
            {% for msg in sucesses %}
            <p class="sucess">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/create" method="POST">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="email@email.com">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <label for="password_confirm">Confirm Password:</label>
            <input type="password" id="password_confirm" name="password_confirm">

            <input type="submit" value="Submit">
        </form>
    </div>
    {% endif %} 
    
</body>
</html>